@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Spirax&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

h1, h2{
  font-family: 'Spirax', cursive;
}


section {
  height: 100vh;
  min-width: fit-content;
}

.py-6 {
  padding: 18px 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.center{
  display: flex;
   justify-items: center;
  
}

.slick-arrow{
  display: none !important;
}

.text-justify {
  text-align: justify;
}

.contact-icon{
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.hero{
  background-image: url('./af-banner-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.about-us-image{
  min-height: 300px;
  min-width: 300px;
  background-image: url('./about-us.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo {
  height: 4rem;
}

/* .slick-center > div > div {
  background-color: white !important;
} */

.nav-item > .active {
  background-color: orange;
  color: white;
  border-radius: 12px;
}

@media (max-width: 992px) {
  .hero{
    background-image: url('./af-banner-mobile.jpg');
    color: white;
  } 
  .logo {
    height: 3rem;
  }
}